* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url(../src/images/loginbng\ 1.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
    /* height: 100vh; */
}

.container {
    background-color: #f7f7fb; 
    width: 380px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.tab {
    flex: 1;
    padding: 15px 0;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.3s;
}

.tab.active {
    background: linear-gradient(to right, #076F32, #000);
    color: white;
    border-top-right-radius: 12px;
}

.form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.input_field{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 400;
}

.input-group label span {
    color: red;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    color: #333;
}

.submit_button_forgot{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.submit-btn {
    width: 100%;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    background-image: linear-gradient(to right, #000000d7, #076f32ea);

}

.links {
    margin: 15px 0;
    text-align: center;
    font-size: 12px;
    color: #333;
}

.links a {
    color: #333;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.mandatory {
    text-align: center;
    font-size: 12px;
    color: red;
    margin-top: 10px;
}


.bottom-bar {
    color: #ffffff;
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    display: flex;
    gap: 140px;
    align-items: center;
    flex-wrap: wrap;
}

.bottom-bar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 10px;
}

.bottom-bar a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 10px;
    font-weight: 400;
}

/* Responsive */
@media (max-width: 768px) {
    .bottom-bar {
        flex-direction: column;
        text-align: center;
    }

    .bottom-bar a {
        margin: 5px 0;
    }
}
